/* =========================================================
   ROOT VARIABLES
========================================================= */
:root {
  --mint: #c2ffd9;
  --yellow: #ffcd5c;
  --blue: #8edbe6;
  --pink: #f38fc5;
  --cream: #fdefdb;
  --pink-light: ##D2B48C;
  --brown: #7b4b36;
  --card: #FFDDA9;
  --accent: #ffe6e9;
  --pink-strong: #f90989;
  --pink-test: #f0208f;
}

/* =========================================================
   GLOBAL RESET & BASE
========================================================= */
* {
  box-sizing: border-box;
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 2%;
}