
:root {
  --mint: #c2ffd9;
  --yellow: #ffcd5c;
  --blue: #8edbe6;
  --pink: #f38fc5;
  --cream: #fdefdb;
  --pink-light: ##D2B48C;
  --brown: #7b4b36;
  --card: #FFDDA9;
  --accent: #ffe6e9;
  --pink-strong: #f90989;
  --pink-test: #f0208f;
}

.header {
  width: 80%;
  height: 10%;
  padding: 16px 28px;
  margin-bottom: 20px;
   margin-left: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
 
}


.logo {
  width: 72px;
  height: 72px;
  border-radius: 12px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 18px rgba(0,0,0,0.08);
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.title-box {
  display: flex;
  flex-direction: column;
}

.title-main {
  font-weight: 800;
  font-size: 18px;
  color: var(--brown);
}

.title-sub {
  font-size: 12px;
  color: rgba(107, 63, 63, 0.7);
}


.nav {
    width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
}


.nav .link {
  text-decoration: none;
  font-weight: bold;
  color: var(--brown);
  transition: 0.2s ease;
}

.nav .link:hover {
  color: #f38fc5;
 
}

.nav .link.active {
  color: #f38fc5;
}


.logout-btn {
  margin-left: 14px;
  padding: 6px 14px;
  border-radius: 10px;
  background: var(--brown);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: 0.25s ease;
}

.logout-btn:hover {
  opacity: 0.9;
  transform: scale(1.05);
}


@media (max-width: 900px) {
  .header {
    padding: 12px;
    flex-direction: column;
    gap: 10px;
  }
  
  .nav {
    flex-wrap: wrap;
    justify-content: center;
  }
}
